@mixin font-face($font-family, $font-type) {
    @font-face {
        font-family: quote($font-family + "-" + $font-type);
        src: url("../" + fonts/$font-family/$font-family + "-" + $font-type + ".ttf") format("truetype");
    }
}

@mixin screen($size, $width-type: null, $cur-breakpoint: null) {
    @if $size == "small" {
        @media screen and (max-width: $breakpoint-small) {
            @content;
        }
    } @else if $size == "medium" {
        @media screen and (max-width: $breakpoint-medium) {
            @content;
        }
    } @else if $size == "large" {
        @media screen and (max-width: $container-width) {
            @content;
        }
    } @else if $size == "custom" and $width-type == "min" {
        @media screen and (max-width: $cur-breakpoint) {
            @content;
        }
    } @else if $size == "custom" and $width-type == "max" {
        @media screen and (max-width: $cur-breakpoint) {
            @content;
        }
    }
}

@mixin underline-decoration($position: null) {
    &:after {
        display: block;
        content: "";
        height: 5px;
        width: 100px;
        background-color: $near-black;
        margin-top: 20px;
    }
    @if ($position == center) {
        &:after {
            margin: 20px auto 0;
        }
    }
    @include screen(large) {
        &:after {
            margin-top: 10px;
        }
    }
}

@mixin mix-text-shadow($shadow-color, $shadow-weight) {
    text-shadow: $shadow-color $shadow-weight $shadow-weight 0, $shadow-color (-$shadow-weight) (-$shadow-weight) 0,
        $shadow-color (-$shadow-weight) $shadow-weight 0, $shadow-color $shadow-weight (-$shadow-weight) 0;
}

