@import "vars";
.container {
    width: 100%;
    max-width: $container-width;
    padding: 0 10px;
    margin: 0 auto;
}

a.link-active {
    color: $gray;
    &:after {
        transform: translate3d(0, 0, 0);
    }
}

.heading-desribe {
    display: inline-block;
    font-family: Montserrat-SemiBold;
    font-size: 15px;
    margin-bottom: 30px;
    color: $gray;
    text-transform: uppercase;
    @include screen(medium) {
        margin-bottom: 15px;
    }
}
.card-data {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    &__name {
        font-family: Montserrat-SemiBold;
        margin-bottom: 10px;
    }
    &__price {
        &_old {
            color: $gray;
            text-decoration: line-through;
            margin-right: 10px;
            font-size: 0.9em;
        }
    }
}
.icon {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}

.button {
    display: inline-block;
    font-family: Montserrat-Medium;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 45px;
    transition: background-color 0.3s, color 0.3s;
    &-white {
        background-color: white;
        color: $near-black;
        border: 2px solid white;
        &:hover {
            background-color: $near-black;
            color: white;
            border: 2px solid $near-black;
        }
    }
    &-black {
        background-color: $near-black;
        color: white;
        border: 2px solid $near-black;
        &:hover {
            background-color: transparent;
            color: $near-black;
            border: 2px solid $near-black;
        }
    }
    &-trans {
        color: $near-black;
        border: 2px solid $near-black;
        &:hover {
            background-color: $near-black;
            color: white;
            border: 2px solid $near-black;
        }
    }
    @include screen(medium) {
        font-size: 12px;
        padding: 10px 20px;
    }
}
div.swiper-button-prev,
div.swiper-button-next {
    @include screen(small) {
        display: none;
    }
}
