@import "vars";
@import "mixins";
@import "fonts";
@import "normalize";
@import "modules/modules-list";

.header__logo {
  background-color: yellow;
  font-size:90px;
  font-family: "Montserrat-Thin";
}
