doctype html
html(lang="ru-RU")
    head
    body
        p 6123
        p 6123
        h3 6123  
        div 
            p 6123
            span 6123
        div
            p 6123
            span 6123
        section.comet 
            p 6123