<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Closes - 5
    body
        header.header
            nav
                ul(class='header__list header__list_sections')
                    li
                        a.header__list-item(href="#") Home
                    li
                        a.header__list-item(href="#") Shop
                    li
                        a.header__list-item(href="#") Pages
                    li
                        a.header__list-item(href="#") Blog
                    li
                        a.header__list-item(href="#") Lookbook
                ul(class='header__list header__list_')
                    li
                        a.header__list-item(href="#") 
                        img
                    li
                        a.header__list-item(href="#")
                    li
                        a.header__list-item(href="#")