.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 1);
    font-family: "Montserrat-SemiBold";
    &__link-logo {
        z-index: 3;
        color: $near-black;
        font-size: 45px;
        @include screen(medium) {
            font-size: 25px;
        }
    }
    &__nav-sections {
        @include screen(custom, max, 1170px) {
            position: absolute;
            background-color: white;
            width: 100%;
            top: -250px;
            padding: 30px 0;
            left: 50%;
            transform: translateX(-50%);
            justify-content: flex-end;
            box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 1);
        }
        @include screen(medium) {
            top: -280px;
        }
        @include screen(large) {
        transition: 0.3s;
        }
    }
    &__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &-item {
            margin: 0 20px;
            transition: 0.3s;
            overflow: hidden;
            :after {
                display: block;
                content: "";
                height: 2px;
                width: 100%;
                background-color: $gray;
                transform: translate3d(-100%, 0, 0);
                transition: transform 0.2s ease-in;
            }
            &:hover {
                color: $gray;
                :after {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
        @include screen(custom, max, 1170px) {
            flex-direction: column;
            align-items: center;
            height: 250px;
        }
    }
    &__nav-right {
        z-index: 3;
    }
    &__right {
        display: flex;
    }
    &__right-item {
        margin: 0 15px;
        @include screen(small) {
            margin: 0 5px;
        }
    }
    &-icon {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        @include screen(medium) {
            width: 18px;
            height: 18px;
        }
    }
    &__drag-container {
        display: none;
        cursor: pointer;
        position: absolute;
        width: 100px;
        height: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        @include screen(custom, max, 1170px) {
            display: flex;
            align-items: center;
        }
    }
    &__drag-btn {
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }
    .active {
        top: 0;
    }
}
