.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 1);
    font-family: "Montserrat-SemiBold";
    &__link-logo {
        z-index: 3;
        color: $near-black;
        font-size: 45px;
        @include screen(medium) {
            font-size: 25px;
        }
    }
    &__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &-item {
            margin: 0 20px;
            transition: 0.3s;
            overflow: hidden;
            :after {
                display: block;
                content: "";
                height: 2px;
                width: 100%;
                background-color: $gray;
                transform: translate3d(-100%, 0, 0);
                transition: transform 0.2s ease-in;
            }
            &:hover {
                color: $gray;
                :after {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
        @include screen(custom, max, 1170px) {
            position: fixed;
            background-color: white;
            width: 100%;
            height: 320px;
            top:-100%;
            padding-bottom: 55px;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 1);
            &-item {
                margin-bottom: 20px;
            }
        }
        @include screen(medium){
            
            padding-bottom: 32px;
        }
    }
    &__nav-right {
        z-index: 3;
    }
    &__right {
        display: flex;
    }
    &__right-item {
        margin: 0 15px;
        @include screen(small) {
            margin: 0 5px;
        }
    }
    &-icon {
        width: 25px;
        height: 25px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.2);
        }
        @include screen(medium) {
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }
    }
    &__drag-btn {
        .triangle {
            margin: 0 auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 20px 20px;
            border-color: #000000 transparent transparent transparent;
        }
        display: none;
        cursor: pointer;
        position: absolute;
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        @include screen(custom, max, 1170px) {
            display: block;
        }
    }
}
