.new {
    &__container {
        margin-top: 100px;
        padding: 0;
        @include screen(large) {
            margin-top: 50px;
        }
    }
    &__item {
        display: flex;
        padding: 0 70px;
        @include screen(large) {
            justify-content: center;
            text-align: center;
        }
        @include screen(medium) {
            position: relative;
            &:hover {
                .new__item-card {
                    filter: opacity(30%);
                }
                .new__item-about {
                    visibility: visible;
                }
                .new__card-data {
                    visibility: hidden;
                }
            }
        }
        @include screen(small) {
            padding: 0 20px;
        }
    }
    &__item-about {
        width: 100%;
        max-width: 420px;
        @include screen(large) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 370px;
        }
        @include screen(medium) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            visibility: hidden;
        }
    }
    &__heading {
        @include underline-decoration;
        margin: 100px 0 70px;
        @include screen(large) {
            text-align: center;
            margin: 30px 0 15px;
            &:after {
                margin: 10px auto 0;
            }
        }
    }
    &__heading-desribe {
        @include screen(large) {
            margin-bottom: 15px;
        }
        @include screen(medium) {
            color: $near-black;
        }
    }
    &__text {
        font-family: Montserrat-SemiBold;
        font-size: 30px;
        margin-bottom: 50px;
        @include screen(large) {
            margin-bottom: 25px;
        }
        @include screen(medium) {
            font-size: 20px;
        }
    }
    &__item-card {
        flex: 0 1 700px;
        position: relative;
        @include screen(large) {
            max-width: 360px;
        }
    }
    &__card-img {
        width: 100%;
        max-width: 570px;
        object-fit: contain;
    }
    &__card-data {
        position: absolute;
        padding: 10px;
        background-color: white;
        border: 1px solid black;
        max-width: 250px;
        right: 0;
        bottom: 30%;
        @include screen(large) {
            right: 0;
            bottom: 0;
            transform: none;
        }
    }
    &__card-name {
        @include screen(small) {
            font-size:12px;
        }
    }
    &__card-price {
        @include screen(small) {
            font-size:12px;
        }
    }
}
